body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(blue,green);
}
#container{
    background-color: white;
    padding: 0;
    display:flex;
    flex-direction: column;
    width:210px;
    height: 300px;
    border-radius: 5px;
}
#screen{
    margin-top: 10px;
    background-color: lightblue;
    height:50px;
    width:auto;
    padding-top: 10px;
    padding-left:10px;
    border-radius:5px;
}

#keys{
    margin-top: 10px;
    background-color: white;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:2px;
}
button{
    height:40px;
    border-radius: 40%;
    border:none;
}
p{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: larger;
}
#equals{
    grid-column:3/5;
    border-radius:10px;
}